

.group{
    width: 100%;
    min-height: calc(100vh - 40px);
    border: 1px solid;
    display: flex;
}
.group-left{
    width: 40%;
    padding: 10px 5px;
    border: 1px solid;
}
.group-right{
    width: 60%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.group-right input[type='file']{
    height: 1px;
    width: 1px;
}
.group-right input[type='text']{
    height: 30px;
    width: 50%;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgba(127, 255, 212, 0.258);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0 10px;
    font-size: 17px;
}
.group-right input[type='text']:focus{
    border: 1px solid rgba(127, 255, 212, 0.44);
}

.group-right button{
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    background-color: rgb(59, 118, 102);
}
.group-right label{
    position: relative;
    background-color: rgb(59, 118, 118);
    padding: 5px 10px;
    border-radius: 5px;
}
.group-left h3{
    margin-bottom: 10px;
}
.files{
    margin-top: 15px;
    margin-bottom: 10px;
}
.group-left li{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
.group-left li input{
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(135, 145, 148, 0.526);
}
.group-left li input:checked{
    background-color: rgba(0, 255, 255, 0.444);
}
.upload{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.619);
}